# LWC Garden Cache Folder
.garden

# LWR Cache Folder
__lwr_cache__

# Symlinked Shared Components
shared-components

# Keep Components Folder, ignore auto generated components
/components/*
!/components/.gitkeep