<template>
  <lightning-progress-indicator current-step="step2">
    <lightning-progress-step
      label="Step One"
      value="step1"
      onstepblur={handleStepBlur}
    ></lightning-progress-step>
    <lightning-progress-step
      label="Step Two"
      value="step2"
      onstepblur={handleStepBlur}
    ></lightning-progress-step>
    <lightning-progress-step
      label="Step Three"
      value="step3"
      onstepblur={handleStepBlur}
    ></lightning-progress-step>
  </lightning-progress-indicator>
</template>
