@import 'garden/sharedGlobalCss';

:host {
  /* fallback to a default dark mode if no variables are provided from higher up */
  --_garden-font-family: var(--garden-font-family, 'Gantari');
  --_garden-container-background: var(--garden-container-background, 0 0% 15%);
  --_garden-background: var(--garden-background, 20 14.3% 4.1%);
  --_garden-foreground: var(--garden-foreground, 0 0% 95%);
  --_garden-card: var(--garden-card, 24 9.8% 10%);
  --_garden-card-foreground: var(--garden-card-foreground, 0 0% 95%);
  --_garden-popover: var(--garden-popover, 0 0% 9%);
  --_garden-popover-foreground: var(--garden-popover-foreground, 0 0% 95%);
  --_garden-primary: var(--garden-primary, 142.1 70.6% 45.3%);
  --_garden-primary-foreground: var(--garden-primary-foreground, 144.9 80.4% 10%);
  --_garden-secondary: var(--garden-secondary, 240 3.7% 15.9%);
  --_garden-secondary-foreground: var(--garden-secondary-foreground, 0 0% 98%);
  --_garden-muted: var(--garden-muted, 0 0% 15%);
  --_garden-muted-foreground: var(--garden-muted-foreground, 240 5% 64.9%);
  --_garden-accent: var(--garden-accent, 12 6.5% 15.1%);
  --_garden-accent-foreground: var(--garden-accent-foreground, 0 0% 98%);
  --_garden-destructive: var(--garden-destructive, 0 62.8% 30.6%);
  --_garden-destructive-foreground: var(--garden-destructive-foreground, 0 85.7% 97.3%);
  --_garden-border: var(--garden-border, 240 3.7% 15.9%);
  --_garden-input: var(--garden-input, 240 3.7% 15.9%);
  --_garden-ring: var(--garden-ring, 142.4 71.8% 29.2%);

  display: flex;
  flex: 1 0;
}
::backdrop {
  --_garden-background: var(--garden-background, 20 14.3% 4.1%);
}

/* don't assign to the `garden-container` as this is user LWC territory */
aside,
.props-container,
garden-command-palette {
  background-color: hsl(var(--_garden-background));
  color: hsl(var(--_garden-foreground));
  font-family: var(--_garden-font-family);
}

aside {
  display: flex;
  border-right: 0.5px solid rgba(255, 255, 255, 0.1);
  max-height: 100vh;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

garden-container {
  flex: 1 0;
  overflow: auto;
}

aside {
  position: relative;
}
aside:hover .resize_slider_el {
  opacity: 1;
}
.resize_target_el {
  max-width: 420px;
  min-width: 200px;
  width: 180px;
}
.resize_slider_el {
  height: 100%;
  width: 4px;
  background-color: hsl(var(--_garden-primary));
  cursor: e-resize;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.props-container {
  display: flex;
  flex-direction: column;
}
.props-container:hover .resize_props_slider_el {
  opacity: 1;
}
.resize_props_target_el {
  min-height: 128px;
  height: 240px;
  max-height: 80vh;
}
.resize_props_slider_el {
  width: 100%;
  height: 4px;
  background-color: hsl(var(--_garden-primary));
  cursor: n-resize;
  opacity: 0;
}
