<template>
  <p>unsupported by lightning-base-components</p>
  <!-- <div class="slds-box slds-theme_default">
    <lightning-output-field field-name="Name"> </lightning-output-field>
    <lightning-output-field field-name="Phone"> </lightning-output-field>
    <lightning-output-field field-name="Email"> </lightning-output-field>
    <lightning-output-field field-name="Birthdate"> </lightning-output-field>
    <lightning-output-field field-name="LeadSource"> </lightning-output-field>
  </div> -->
</template>
