{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "parser": "lwc"
      }
    }
  ]
}
