<template>
  <lightning-carousel>
    <lightning-carousel-image
      src="https://www.lightningdesignsystem.com/assets/images/carousel/carousel-01.jpg"
      header="First card"
      description="First card description"
      alternative-text="This is a card"
      href="https://www.example.com"
    >
    </lightning-carousel-image>
    <lightning-carousel-image
      src="https://www.lightningdesignsystem.com/assets/images/carousel/carousel-02.jpg"
      header="Second card"
      description="Second card description"
      alternative-text="This is a card"
      href="https://www.example.com"
    >
    </lightning-carousel-image>
    <lightning-carousel-image
      src="https://www.lightningdesignsystem.com/assets/images/carousel/carousel-03.jpg"
      header="Third card"
      description="Third card description"
      alternative-text="This is a card"
      href="https://www.example.com"
    >
    </lightning-carousel-image>
  </lightning-carousel>
</template>
