<template>
  <p>
    With default attribute values of <code>size</code> and
    <code>flexibility</code>, layout items take the size of their content and
    don't occupy entire width of the container.
  </p>
  <div
    class="slds-box slds-p-around_none slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none"
  >
    <lightning-layout>
      <lightning-layout-item padding="around-small">
        <div
          class="custom-box slds-box slds-p-around_medium slds-text-align_center"
        >
          1
        </div>
      </lightning-layout-item>
      <lightning-layout-item padding="around-small">
        <div
          class="custom-box slds-box slds-p-around_medium slds-text-align_center"
        >
          2
        </div>
      </lightning-layout-item>
      <lightning-layout-item padding="around-small">
        <div
          class="custom-box slds-box slds-p-around_medium slds-text-align_center"
        >
          3
        </div>
      </lightning-layout-item>
      <lightning-layout-item padding="around-small">
        <div
          class="custom-box slds-box slds-p-around_medium slds-text-align_center"
        >
          4
        </div>
      </lightning-layout-item>
    </lightning-layout>
  </div>
</template>
