<template>
  <p>
    <lightning-formatted-text
      value="Email salesforce.com and info.salesforce.com"
    ></lightning-formatted-text>
  </p>
  <p>
    <lightning-formatted-text
      value="Email info@salesforce.com"
    ></lightning-formatted-text>
  </p>
  <p>
    <lightning-formatted-text
      value="Email salesforce.com and info.salesforce.com"
      linkify
    ></lightning-formatted-text>
  </p>
  <p>
    <lightning-formatted-text
      value="Email info@salesforce.com"
      linkify
    ></lightning-formatted-text>
  </p>
</template>
