<template>
  <div class="slds-m-vertical_medium">
    <h1 class="slds-text-heading_small">Formatted Email</h1>
    <p class="slds-text-body_regular">
      Default behavior displays an email address with an email icon. The email
      address is automatically linked to open the default mail app.
    </p>
  </div>
  <p>
    <lightning-formatted-email
      value="email@example.com"
    ></lightning-formatted-email>
  </p>

  <div class="slds-m-vertical_medium">
    <h1 class="slds-text-heading_small">Formatted Email Without an Icon</h1>
    <p class="slds-text-body_regular">
      Remove the icon using the <code>hide-icon</code> attribute.
    </p>
  </div>
  <p>
    <lightning-formatted-email
      value="email@example.com"
      hide-icon
    ></lightning-formatted-email>
  </p>

  <div class="slds-m-vertical_medium">
    <h1 class="slds-text-heading_small">Formatted Email With a Label</h1>
    <p class="slds-text-body_regular">
      Display custom text instead of the email address with the
      <code>label</code> attribute.
    </p>
  </div>
  <p>
    <lightning-formatted-email
      value="email@example.com"
      label="Email Us!"
    ></lightning-formatted-email>
  </p>
</template>
