<template>
  <p>
    A progress indicator displays the steps in a process. All steps preceding
    the step specified by currentStep are marked completed.
  </p>
  <lightning-progress-indicator
    current-step="3"
    type="base"
    has-error="true"
    variant="base"
  >
    <lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
    <lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
    <lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
    <lightning-progress-step label="Step 4" value="4"></lightning-progress-step>
  </lightning-progress-indicator>
</template>
