.main-pane main {
  background: radial-gradient(circle, rgba(34,197,94,0.3) 0%, var(--sl-color-bg) 60%);
  background-position: 0 -60vh;
  background-repeat: no-repeat;
}

.hero > img {
  animation: vert-move 3s ease-in-out infinite;
  border-radius: 9999px;
}

@keyframes vert-move {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}