<template>
  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button group using simple buttons.
    </h2>

    <!-- Button group: simple buttons -->
    <lightning-button-group>
      <lightning-button label="Refresh"></lightning-button>
      <lightning-button label="Edit"></lightning-button>
      <lightning-button label="Save"></lightning-button>
    </lightning-button-group>
  </div>

  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button group using several button variations.
    </h2>

    <!-- Button group: simple buttons -->
    <lightning-button-group>
      <lightning-button label="Refresh"></lightning-button>
      <lightning-button label="Edit"></lightning-button>
      <lightning-button
        label="Save"
        icon-name="utility:save"
      ></lightning-button>
      <lightning-button
        label="Delete"
        variant="destructive"
        icon-name="utility:delete"
      ></lightning-button>
    </lightning-button-group>
  </div>

  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button group using several button types (standard, icon, stateful,
      icon-stateful, menu).
    </h2>

    <!-- Button group: simple buttons -->
    <lightning-button-group>
      <lightning-button label="Refresh"></lightning-button>
      <lightning-button label="Edit"></lightning-button>
      <lightning-button
        label="Save"
        icon-name="utility:save"
      ></lightning-button>
      <lightning-button-icon
        icon-name="utility:delete"
        variant="border-filled"
        alternative-text="Delete"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:settings"
        variant="border-filled"
        alternative-text="Settings"
      ></lightning-button-icon>
      <lightning-button-stateful
        selected={buttonStatefulState}
        label-when-off="Follow"
        label-when-on="Following"
        label-when-hover="Unfollow"
        icon-name-when-off="utility:add"
        icon-name-when-on="utility:check"
        icon-name-when-hover="utility:close"
        onclick={handleButtonStatefulClick}
      ></lightning-button-stateful>
      <lightning-button-icon-stateful
        icon-name="utility:like"
        selected={buttonIconStatefulState}
        alternative-text="Like"
        onclick={handleButtonIconStatefulClick}
      >
      </lightning-button-icon-stateful>
      <lightning-button-menu alternative-text="Show menu">
        <lightning-menu-item
          label="Menu Item One"
          value="item1"
        ></lightning-menu-item>
        <lightning-menu-item
          label="Menu Item Two"
          value="item2"
        ></lightning-menu-item>
        <lightning-menu-item
          label="Menu Item Three"
          value="item3"
        ></lightning-menu-item>
      </lightning-button-menu>
    </lightning-button-group>
  </div>
</template>
