<template>
  <div class="slds-m-vertical_medium">
    <h1 class="slds-text-heading_small">Items With Icons</h1>
    <p class="slds-text-body_regular">A Vertical navigation with item icons.</p>
  </div>

  <div style="width: 320px">
    <lightning-vertical-navigation selected-item="reports_recent">
      <lightning-vertical-navigation-section label="Reports">
        <lightning-vertical-navigation-item-icon
          label="Recent"
          name="reports_recent"
          icon-name="utility:clock"
        >
        </lightning-vertical-navigation-item-icon>
        <lightning-vertical-navigation-item-icon
          label="Created by Me"
          name="reports_usercreated"
          icon-name="utility:user"
        >
        </lightning-vertical-navigation-item-icon>
        <lightning-vertical-navigation-item-icon
          label="Private Reports"
          name="reports_private"
          icon-name="utility:lock"
        >
        </lightning-vertical-navigation-item-icon>
        <lightning-vertical-navigation-item-icon
          label="Public Reports"
          name="reports_public"
          icon-name="utility:groups"
        >
        </lightning-vertical-navigation-item-icon>
        <lightning-vertical-navigation-item
          label="All Reports"
          name="reports_all"
        >
        </lightning-vertical-navigation-item>
      </lightning-vertical-navigation-section>
      <lightning-vertical-navigation-section label="Folders">
        <lightning-vertical-navigation-item-icon
          label="Created by Me"
          name="folders_usercreated"
          icon-name="utility:open_folder"
        >
        </lightning-vertical-navigation-item-icon>
        <lightning-vertical-navigation-item-icon
          label="Shared with Me"
          name="folders_shared"
          icon-name="utility:open_folder"
        >
        </lightning-vertical-navigation-item-icon>
      </lightning-vertical-navigation-section>
    </lightning-vertical-navigation>
  </div>
</template>
