.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: hsl(var(--_garden-primary)) hsl(var(--_garden-muted));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--_garden-muted));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--_garden-primary));
  border-radius: 10px;
  border: 2px solid hsl(var(--_garden-muted));
}

/* Needed after pulling in SLDS which bloats up the base styles */
button:focus-visible,
a:focus-visible,
summary:focus-visible {
  outline-color: hsl(var(--_garden-primary));
  outline-offset: 0;
  outline-style: dashed;
  outline-width: 1.5px;
}