<template>
  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button-icons with the <code>variant</code> attribute omitted or set to the
      default value of <code>border</code>.
    </h2>
    <!-- with border / by default -->
    <div class="slds-p-around_medium lgc-bg">
      <lightning-button-icon
        icon-name="utility:settings"
        alternative-text="Settings"
        title="Settings"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:adduser"
        alternative-text="Add user"
        class="slds-m-left_xx-small"
        title="Add user"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:delete"
        alternative-text="Delete"
        class="slds-m-left_xx-small"
        title="Delete"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:save"
        alternative-text="Save"
        class="slds-m-left_xx-small"
        title="Save"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:bookmark"
        alternative-text="Bookmark"
        class="slds-m-left_xx-small"
        title="Bookmark"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomin"
        alternative-text="Zoom in"
        class="slds-m-left_xx-small"
        title="Zoom in"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomout"
        alternative-text="Zoom out"
        class="slds-m-left_xx-small"
        title="Zoom out"
      ></lightning-button-icon>
    </div>
  </div>

  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button-icons with the <code>variant</code> attribute set to
      <code>bare</code>.
    </h2>

    <!-- bare -->
    <div class="slds-p-around_medium lgc-bg">
      <lightning-button-icon
        icon-name="utility:settings"
        variant="bare"
        alternative-text="Settings"
        title="Settings"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:adduser"
        variant="bare"
        alternative-text="Add user"
        class="slds-m-left_xx-small"
        title="Add user"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:delete"
        variant="bare"
        alternative-text="Delete"
        class="slds-m-left_xx-small"
        title="Delete"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:save"
        variant="bare"
        alternative-text="Save"
        class="slds-m-left_xx-small"
        title="Save"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:bookmark"
        variant="bare"
        alternative-text="Bookmark"
        class="slds-m-left_xx-small"
        title="Bookmark"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomin"
        variant="bare"
        alternative-text="Zoom in"
        class="slds-m-left_xx-small"
        title="Zoom in"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomout"
        variant="bare"
        alternative-text="Zoom out"
        class="slds-m-left_xx-small"
        title="Zoom out"
      ></lightning-button-icon>
    </div>
  </div>

  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button-icons with the <code>variant</code> attribute set to
      <code>brand</code>.
    </h2>

    <!-- bare -->
    <div class="slds-p-around_medium lgc-bg">
      <lightning-button-icon
        icon-name="utility:settings"
        variant="brand"
        alternative-text="Settings"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:adduser"
        variant="brand"
        alternative-text="Add user"
        class="slds-m-left_xx-small"
        title="Add user"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:delete"
        variant="brand"
        alternative-text="Delete"
        class="slds-m-left_xx-small"
        title="Delete"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:save"
        variant="brand"
        alternative-text="Save"
        class="slds-m-left_xx-small"
        title="Save"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:bookmark"
        variant="brand"
        alternative-text="Bookmark"
        class="slds-m-left_xx-small"
        title="Bookmark"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomin"
        variant="brand"
        alternative-text="Zoom in"
        class="slds-m-left_xx-small"
        title="Zoom in"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomout"
        variant="brand"
        alternative-text="Zoom out"
        class="slds-m-left_xx-small"
        title="Zoom out"
      ></lightning-button-icon>
    </div>
  </div>

  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button-icons with the <code>variant</code> attribute set to
      <code>container</code>.
    </h2>

    <!-- with container -->
    <div class="slds-p-around_medium lgc-bg">
      <lightning-button-icon
        icon-name="utility:settings"
        variant="container"
        alternative-text="Settings"
        title="Settings"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:adduser"
        variant="container"
        alternative-text="Add user"
        class="slds-m-left_xx-small"
        title="Add user"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:delete"
        variant="container"
        alternative-text="Delete"
        class="slds-m-left_xx-small"
        title="Delete"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:save"
        variant="container"
        alternative-text="Save"
        class="slds-m-left_xx-small"
        title="Save"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:bookmark"
        variant="container"
        alternative-text="Bookmark"
        class="slds-m-left_xx-small"
        title="Bookmark"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomin"
        variant="container"
        alternative-text="Zoom in"
        class="slds-m-left_xx-small"
        title="Zoom in"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomout"
        variant="container"
        alternative-text="Zoom out"
        class="slds-m-left_xx-small"
        title="Zoom out"
      ></lightning-button-icon>
    </div>
  </div>

  <div class="slds-m-top_medium slds-m-bottom_x-large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
      Button-icons with the <code>variant</code> attribute set to
      <code>border-filled</code>.
    </h2>

    <!-- with border filled -->
    <div class="slds-p-around_medium lgc-bg">
      <lightning-button-icon
        icon-name="utility:settings"
        variant="border-filled"
        alternative-text="Settings"
        title="Settings"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:adduser"
        variant="border-filled"
        alternative-text="Add user"
        class="slds-m-left_xx-small"
        title="Add user"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:delete"
        variant="border-filled"
        alternative-text="Delete"
        class="slds-m-left_xx-small"
        title="Delete"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:save"
        variant="border-filled"
        alternative-text="Save"
        class="slds-m-left_xx-small"
        title="Save"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:bookmark"
        variant="border-filled"
        alternative-text="Bookmark"
        class="slds-m-left_xx-small"
        title="Bookmark"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomin"
        variant="border-filled"
        alternative-text="Zoom in"
        class="slds-m-left_xx-small"
        title="Zoom in"
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:zoomout"
        variant="border-filled"
        alternative-text="Zoom out"
        class="slds-m-left_xx-small"
        title="Zoom out"
      ></lightning-button-icon>
    </div>
  </div>
</template>
