:host {
  overflow: auto;
  --_garden-props-grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  :host {
    --_garden-props-grid-template-columns: 25% 1fr;
  }
}


ul {
  background-color: hsl(var(--_garden-background));
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 8px 16px;
  border-bottom: 0.5px solid hsl(var(--_garden-muted));
}
li.header {
  display: none;
  grid-template-columns: var(--_garden-props-grid-template-columns);
}
@media (min-width: 768px) {
  li.header {
    display: grid;
  }
}

.header span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: hsl(var(--garden-muted-foreground))
}

.header span:last-of-type {
  justify-content: space-between;
}

.header button {
  height: 24px;
  width: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: hsl(var(--_garden-foreground));
  border-radius: 2px;
}
.header button:hover {
  background-color: hsl(var(--_garden-muted));
}

input {
  width: auto;
}
