<template>
  <div class="exampleHolder">
    <lightning-spinner
      alternative-text="Loading"
      size="xx-small"
    ></lightning-spinner>
  </div>
  <div class="exampleHolder">
    <lightning-spinner
      alternative-text="Loading"
      size="x-small"
    ></lightning-spinner>
  </div>
  <div class="exampleHolder">
    <lightning-spinner
      alternative-text="Loading"
      size="small"
    ></lightning-spinner>
  </div>
  <div class="exampleHolder">
    <lightning-spinner
      alternative-text="Loading"
      size="medium"
    ></lightning-spinner>
  </div>
  <div class="exampleHolder">
    <lightning-spinner
      alternative-text="Loading"
      size="large"
    ></lightning-spinner>
  </div>
</template>
