@import 'garden/sharedGlobalCss';

:host {
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 0 0 16px;
}

h1 {
  margin: 0;
  height: 18px;
  max-width: 80%;
  display: flex;
  align-items: center;
}
h1 a {
  display: flex;
  height: 100%;
  width: 100%;
}
h1 a:hover svg {
  --garden-foreground: var(--_garden-muted-foreground);
}
h1 a:focus-visible {
  box-shadow: none;
}
h1 svg {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 0 0 2px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: hsl(var(--_garden-background));
  gap: 4px;
}

.button-container {
  display: flex;
  gap: 2px;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  background-color: transparent;
  color: hsl(var(--_garden-foreground));
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.icon-button:hover {
  background-color: hsl(var(--_garden-muted));
}
.icon-button:hover svg {
  color: hsl(var(--_garden-muted-foreground));
}
.icon-button svg {
  width: 100%;
  height: 100%;
}

[data-theme='dark'] .icon-sun {
  display: none;
}
[data-theme='light'] .icon-moon {
  display: none;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

summary {
  cursor: pointer;
  padding: 6px;
  display: flex;
  font-size: 14px;
  color: hsl(var(--_garden-muted-foreground));
  margin: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  user-select: none;
}
summary::marker {
  display: none;
  content: '';
}
summary:hover {
  background-color: hsl(var(--_garden-muted));
}
summary:hover svg {
  color: hsl(var(--_garden-muted-foreground));
}
summary span {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 0;
}
summary svg {
  border: 1px solid hsl(var(--_garden-muted));
  border-radius: 1px;
  margin: 0 8px 0 0;
}

details[open] svg .closed {
  display: none;
}
details:not([open]) svg .open {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  margin: 0;
  list-style: none;
}

li {
  display: flex;
  padding: 0 8px;
}

li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: hsl(var(--_garden-foreground));
  padding: 6px 2px 6px 14px;
  background-color: transparent;
  font-size: 14px;
  font-family: var(--_garden-font-family);
  border-radius: 4px;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
li a:hover {
  background-color: hsl(var(--_garden-primary) / 0.3);
}
li a[data-is-active='true'] {
  background-color: hsl(var(--_garden-primary));
  color: hsl(var(--_garden-primary-foreground));
}
li a:focus-visible {
  box-shadow: none;
}

ul p {
  font-weight: 600;
  font-size: 14px;
  padding: 2px 2px 2px 16px;
  text-transform: uppercase;
  margin: 0;
}